.advertisement {
  min-height: 290px;
  background-image: linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../../img/catalog/advertisement-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../../img/catalog/advertisement-background@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../../img/catalog/advertisement-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../../img/catalog/advertisement-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 288px;
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../../img/catalog/advertisement-background-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../../img/catalog/advertisement-background-desktop@2x.jpg");
    }
  }
}

.advertisement__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 506px;
    margin: 0 auto;
    padding-top: 57px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: block;
  }
}

.advertisement__icon {
  display: block;
  width: 70px;
  height: 80px;
  background-image: url("../../img/catalog/icon-gift.svg");
  background-repeat: no-repeat;
  position: relative;
  top: 58px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 59px;
  }
}

.advertisement__text {
  font-size: 16px;
  line-height: 20px;
  color: $text-color-white;
  text-align: center;
  width: 58%;
  margin: 0 auto;
  margin-top: 107px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 32%;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 161px;
    text-align: center;
  }
}
