.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: $text-color-grey;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    column-gap: 22px;
  }
}

.copyright__link:hover .copyright__link-icon {
  stroke: $color-button;
}

.copyright__link:active .copyright__link-icon,
.copyright__link:active .copyright__link-text {
  opacity: 0.6;
}
