.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: $text-color-grey;

  @media (min-width: $tablet-width) {
    column-gap: 22px;
  }
}
