.example {
  background-color: $background-color;
  padding: 25px 0 40px;

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: $color-white;
    padding: 0;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 462px;
      background-color: #eaeaea;
      z-index: -1;
    }
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 193px;
  }
}

.example__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
    grid-column: 1/2;
  }
}

.example__container-description {
  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.example__description {
  color: $text-color-grey;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    width: 95%;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 54px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0 0 69px;
  }
}

.example__wrapper {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    row-gap: 55px;
    width: 84%;
    margin-bottom: 75px;
  }
}

.example__list {
  display: flex;
  column-gap: 32px;
  justify-content: center;
  margin: 0 auto 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    column-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    justify-content: flex-start;
  }
}

.example__list-wrapper {
  position: relative;
  width: 82px;
  padding: 14px 21px;
  text-align: center;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 128px;
    padding: 15px 17px 0;
  }
}

.example__list-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 124px;
  height: 56px;
  border: 1px solid $border-color;
  border-radius: 5px;
  z-index: -1;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.example__term {
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }
}

.example__value {
  margin: 0;
  text-transform: lowercase;
  font-size: 12px;
  line-height: 12px;
  color: $text-color-grey;
  background: $background-color;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background: $color-white;
  }

  @media (min-width: $desktop-width) {
    background: #eaeaea;
  }
}

.example__price {
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 184px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: left;
  }
}

.example__cost {
  @media (min-width: $desktop-width) {
    margin-left: 63px;
  }
}

.example__container-slider {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: -36px;
    right: 0;
  }
}

.example__slider {
  position: relative; //+
  margin-bottom: 15px;
  height: 232px;

  @media (min-width: $tablet-width) {
    height: 511px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.example__image {
  margin: 0 auto;

  &--before {
    width: 280px;
    height: 232px;
  }

  &--after {
    width: 243px;
    height: 232px;
  }

  &--before,
  &--after {
    @media (min-width: $tablet-width) {
      width: 592px;
      height: 511px;
    }
  }
}

.example__before-after {
  display: flex;
  align-items: center;
  column-gap: 13px;
  justify-content: space-around;
  width: 209px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 592px;
    padding-bottom: 56px;
  }
}

.example__button {
  padding: 0;
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
    border-bottom: 1px solid $border-color;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px dotted $border-color;
  }
}

.example__range-scale {
  position: relative;
  width: 86px;
  height: 14px;
  border: 1px solid $border-color;
  border-radius: 10px;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    width: 426px;
    height: 6px;
    background-color: $border-color;
    border-radius: 6px;
  }
}

.example__range-scale-control {
  margin: 4px 6px;
  width: 36px;
  height: 6px;
  border-radius: 10px;
  background-color: $color-button;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    // right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 36px;
    height: 36px;
    border: 1px solid $border-color;
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color-button;
    }
  }
}

.example__range-scale-control--after {
  position: absolute;
  right: 0;

  @media (min-width: $tablet-width) {
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    margin: auto;
  }
}

.hidden {
  display: none;
}
