.fieldset {
  position: relative;
  border: none;
  padding: 0;
  margin: 0 0 24px;

  &--contacts {
    margin: 0 0 27px;
  }

  &--comments {
    margin: 0 0 19px;
  }

  &--radio {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: $border-color;

      @media (min-width: $tablet-width) {
        content: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      // width: 100%;
      height: 1px;
      background-color: $border-color;

      @media (min-width: $tablet-width) {
        content: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 75px;

    &--contacts {
      margin: 0 0 63px;
    }

    &--comments {
      margin: 0 0 61px;
    }

    &--additionally {
      margin: 0 0 54px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    &--contacts,
    &--comments,
    &--additionally {
      grid-column: 1/3;
    }
  }
}

.fieldset__legend {
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
  width: 65%;
  margin-bottom: 36px;
  letter-spacing: 0.5px;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
    width: 99px;
    height: 2px;
    background-color: $color-button;
  }

  &--comments {
    margin-bottom: 37px;

    &::after {
      content: "";
      width: 158px;
    }
  }

  &--additionally {
    // position: relative;
    // top: -5px;
    margin-bottom: 36px;
    &::after {
      content: "";
      width: 136px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    width: 69%;
    letter-spacing: 0.9px;

    &::after {
      content: "";
      top: 25px;
      right: 0;
      width: 145px;
      height: 2px;
      background-color: $color-button;
    }

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: $color-button;
    }

    &--comments {
      margin-bottom: 79px;

      &::after {
        content: "";
        width: 478px;
      }
    }

    &--additionally {
      margin-bottom: 59px;
    }

    &--additionally::after {
      content: "";
      width: 446px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 81px;

    &::after {
      content: "";
      top: 25px;
      right: 0;
      width: 778px;
    }

    &::before {
      content: "";
      width: 70px;
    }

    &--comments::after {
      content: "";
      width: 1108px;
    }

    &--additionally {
      margin-bottom: 58px;
      &::after {
        content: "";
        width: 1078px;
      }
    }
  }
}

.fieldset__list {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  padding: 22px 0;

  &--checkbox {
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 23px 27px;
    border: 1px solid $input-outline;
    row-gap: 13px;

    &--checkbox {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 31px 57px;
      border: none;
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--checkbox {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 81px;
    }
  }
}

.fieldset__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  @media (min-width: $tablet-width) {
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 22px;
    &--contacts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 78px;
    }
  }
}

.fieldset__container {
  // display: flex;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 15px;
  // flex-wrap: wrap;

  // @media (min-width: $desktop-width) {
  //   flex-wrap: nowrap;
  // }

  &--contacts {
    column-gap: 11px;
  }
}

.fieldset__label {
  display: block;
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: $text-color-grey;
  letter-spacing: 1.1px;

  &--radio {
    margin-left: 46px;
  }

  &--checkbox {
    margin-left: 46px;
    margin-top: -6px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;

    &--name {
      min-width: 49px;
    }

    &--weight {
      min-width: 80px;
    }

    &--years {
      min-width: 120px;
    }

    &--email {
      min-width: 71px;
    }

    &--tel {
      min-width: 86px;
    }

    &--radio {
      margin-left: 60px;
    }

    &--checkbox {
      margin-left: 59px;
    }
  }
}

.fieldset__input {
  width: 100%;
  min-width: 163px;
  box-sizing: border-box;
  padding: 12px 50px 12px 14px;
  border: none;
  outline: 1px solid $input-outline;
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: $text-color-grey;

  &--email,
  &--tel {
    padding-top: 11px;
  }

  &--email {
    letter-spacing: 1.7px;
  }

  &--tel {
    letter-spacing: 1.3px;
  }

  &:hover {
    outline-color: $input-outline-hover;
  }

  &:focus {
    outline: 2px solid $input-outline-focus;
  }

  &--error {
    outline: 2px solid $input-outline-error;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-width: 350px;
    padding: 9px 50px 12px 18px;

    &--email,
    &--tel {
      padding: 11px 50px 12px 21px;
      letter-spacing: 0.4px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 9px 50px 11px 21px;
  }
}

.fieldset__input:focus + .fieldset__icon > .fieldset__icon-email,
.fieldset__input:focus + .fieldset__icon > .fieldset__icon-tel {
  fill: $color-button;
}

.fieldset__input--email:focus + .fieldset__icon > .fieldset__icon-email {
  stroke: $color-button;
  fill: none;
}

.fieldset__control {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;
  cursor: pointer;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    min-height: 40px;
  }
}

.fieldset__mark {
  position: absolute;
  top: 0;
  display: block;
  box-sizing: border-box;

  &--radio {
    width: 30px;
    height: 30px;
    outline: 1px solid $radio-outline-button;
    border-radius: 50%;

    &::before {
      display: none;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $color-button;
      outline: 1px solid transparent;
    }

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;

      &::before {
        width: 18px;
        height: 18px;
      }
    }

    @media (min-width: $desktop-width) {
      top: 1px;
    }
  }

  &--checkbox {
    width: 28px;
    height: 28px;
    outline: 1px solid $border-color;

    &::before {
      display: none;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 18px;
      height: 14px;
      background: url("../../img/form/arrow.svg") no-repeat;
      background-size: cover;
    }

    @media (min-width: $tablet-width) {
      width: 39px;
      height: 39px;

      &::before {
        width: 24px;
        height: 19px;
      }
    }
  }
}

.fieldset__inner {
  width: 100%;
  position: relative;
}

.fieldset__icon {
  position: absolute;
  top: 20px;
  right: 16px;

  &--email {
    top: 15px;
  }

  &--tel {
    top: 13px;
    right: 12px;
  }

  @media (min-width: $tablet-width) {
    &--email {
      top: 19px;
    }

    &--tel {
      top: 14px;
      right: 16px;
    }
  }
}

.fieldset__textarea {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  resize: none;
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: $text-color-grey;
  padding: 9px 15px;
  letter-spacing: 0.2px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 171px;
    letter-spacing: 0.4px;
    padding: 9px 17px;
  }

  @media (min-width: $desktop-width) {
    height: 172px;
  }
}

.fieldset__input:hover + .fieldset__mark--radio,
.fieldset__input:hover + .fieldset__mark--checkbox {
  outline-color: $radio-outline-button-hover;
}

.fieldset__input:focus + .fieldset__mark--radio,
.fieldset__input:focus + .fieldset__mark--checkbox {
  outline-color: $radio-outline-button-focus;
}

.fieldset__input:focus + .fieldset__mark--radio::before {
  display: block;
}

.fieldset__input:checked + .fieldset__mark--radio::before,
.fieldset__input:checked + .fieldset__mark--checkbox::before {
  display: block;
}

.fieldset__input:disabled + .fieldset__mark--radio,
.fieldset__input:disabled ~ .fieldset__label--radio,
.fieldset__input:disabled + .fieldset__mark--checkbox,
.fieldset__input:disabled + .fieldset__label--checkbox {
  outline-color: $radio-outline-button-hover;
  opacity: 0.3;
}
