.form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    row-gap: 72px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 679px);
    gap: 69px 80px;
    margin-bottom: 82px;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 62px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    column-gap: 81px;
    align-items: center;
  }
}

.form__button {
  width: 100%;
  font-weight: bold;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 13px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 13px 186px;
  }
}

.form__required-fieldset {
  text-align: center;
  margin: 0;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
