.nav-list {
  @media (min-width: $tablet-width) {
    display: flex;
    gap: 20px 36px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    max-width: 478px;
  }
}

.nav-list__item {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 20px;
  padding: 22px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
  }

  &:last-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &::before,
    &:last-child::after {
      content: none;
    }
  }
}

.nav-list__link {
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: $color-black;
  cursor: default;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;

    &--current:hover,
    &--current:active,
    &--current-index:hover,
    &--current-index:active {
      opacity: 1;
      cursor: default;
    }

    &--current::after,
    &--current-index::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-button;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--index {
      color: $color-white;
    }

    &--current-index::after {
      background-color: $color-white;
    }
  }
}
