.page-header {
  &--index {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    margin-right: 30px;

    &--index {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 110px;
  }
}

.page-header__logo {
  padding: 10px 0 17px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  display: block;
  width: 191px;
  height: 37px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
