.page-header {
  &--index {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__logo {
  cursor: pointer;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
