.page {
  height: 100%;
  font-family: "Arial", "Calibri", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.page__page-body {
  margin: 0;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}
