.page {
  height: 100%;
  font-family: "Arial", "Calibri", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
