.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: $color-black;
  background-color: $color-white;
  margin: 0;
}

.page-body__page-header {
  position: relative;
  min-height: 64px;

  @media (min-width: $tablet-width) {
    margin: 25px 0 64px;
  }

  @media (min-width: $desktop-width) {
    margin: 53px 0 111px;
  }
}

.page-body__page-header--catalog,
.page-body__page-header--form {
  &::after {
    content: "";
    position: absolute;
    bottom: -17.5px;
    width: 100%;
    height: 1px;
    background-color: $border-color;
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 54px 0 74px;
  }
}
