.page-header {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    // margin-right: 40px;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    column-gap: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 110px;
    justify-content: space-between;

    &--index {
      margin: 0 0 95px;
      padding: 43px 110px 0 0;

      &::after {
        content: "";
        position: absolute;
        width: 720px;
        height: 694px;
        background-image: linear-gradient(
            rgba(104, 183, 56, 0.85),
            rgba(104, 183, 56, 0.85)
          ),
          url("../../img/index/promo-background-image-desktop.jpg");
        top: 0;
        right: 0;
        left: auto;
        background-size: cover;
        min-height: 100%;

        @media (min-resolution: 2dppx) {
          background-image: linear-gradient(
              rgba(104, 183, 56, 0.85),
              rgba(104, 183, 56, 0.85)
            ),
            url("../../img/index/promo-background-image-desktop@2x.jpg");
        }
      }
    }
  }
}

.page-header__logo {
  padding: 10px 0 17px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  display: block;
  width: 191px;
  height: 37px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
