.process__title {
  margin: 0 auto 42px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 52px;
  }
}

.process__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 61px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 37px 79px;
  }
}

.process__item {
  position: relative;
  display: flex;
  column-gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    row-gap: 31px;
    width: 92%;
    padding: 21px 0 62px;
  }

  @media (min-width: $desktop-width) {
    width: 122%;
  }
}

.process__number {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: -7px;
    left: 114px;
    font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
    font-size: 265px;
    line-height: 260px;
    font-weight: 700;
    color: #f2f2f2;
    z-index: -1;
  }
}

.process__icon {
  position: relative;
  min-width: 60px;
  width: 60px;
  height: 60px;
  background-color: $color-button;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &--leaf::before {
    width: 31px;
    height: 32px;
    background: url("../img/index/leaf-icon.svg") no-repeat;
  }

  &--tub::before {
    width: 30px;
    height: 31px;
    background: url("../img/index/tub-icon.svg") no-repeat;
  }

  &--eat::before {
    width: 26px;
    height: 30px;
    background: url("../img/index/eat-icon.svg") no-repeat;
  }

  &--alarm::before {
    width: 33px;
    height: 33px;
    background: url("../img/index/alarm-icon.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    min-width: 80px;
    width: 80px;
    height: 80px;
  }
}

.process__text {
  color: $text-color-grey;
  margin: 0;
  line-height: 19px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 265px;
  }
}
