.products__title {
  margin: 27px 0 41px;

  &--additional {
    font-size: 24px;
    line-height: 24px;
    padding: 25px 0 36px;
    margin: 0;
    width: 76%;

    &::after {
      content: "";
      position: absolute;
      top: 40px;
      right: -20px;
      width: 53px;
      height: 2px;
      background-color: $color-button;
    }

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
      padding: 0 36px;
      margin-bottom: 80px;
      width: 47%;

      &::after {
        content: "";
        width: 328px;
        top: 20px;
        right: -30px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        top: 20px;
        left: -30px;
        height: 2px;
        background-color: $color-button;
      }
    }

    @media (min-width: $desktop-width) {
      max-width: 338px;
      padding: 0;

      &::after {
        content: "";
        width: 957px;
        top: 20px;
        right: -110px;
      }

      &::before {
        content: "";
        width: 70px;
        left: -110px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 82px;
  }
}

.products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 79px;
  }
}

.products__additional {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.products__products-list {
  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }
}
