.products-list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 324px);
    gap: 56px 60px;
    justify-content: space-evenly;
    margin: 0 30px 84px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fit, 245px);
    gap: 48px 80px;
    margin: 0 110px 93px;
  }
}

.products-list__item {
  position: relative;
  display: grid;
  grid-template-columns: 20px repeat(2, 1fr) 20px;
  align-items: center;
  row-gap: 14px;
  padding: 22px 0 24px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: $border-color;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  &--show-more {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 22px 0 18px;
  }

  &:last-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $border-color;

    @media (min-width: $tablet-width) {
      bottom: -12px;
      width: 324px;
      height: 82%;
      outline: 2px solid #f2f2f2;
      background-color: transparent;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
      bottom: -18px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 37px;

    &::after {
      content: "";
      position: absolute;
      bottom: -14px;
      width: 100%;
      height: 84%;
      background-color: #f2f2f2;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    row-gap: 43px;

    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      width: 100%;
      height: 83%;
      background-color: #f2f2f2;
      z-index: -1;
    }
  }
}

.products-list__picture {
  grid-column: 2/3;
  grid-row: 1/3;
  position: relative;
  top: 10px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    height: 200px;
  }
}

.products-list__image {
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 200px;

    &--small {
      height: 174px;
    }

    &--large {
      height: 207px;
    }
  }
}

.products-list__title {
  grid-column: 3/4;
  align-self: flex-start;
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  max-width: 51%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
    width: 48%;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 63%;
    max-width: none;
  }

  &--show-more {
    max-width: 100%;
    letter-spacing: 0.2px;
    margin-bottom: 8px;

    @media (min-width: $tablet-width) {
      width: 134px;
      line-height: 22px;
      margin-bottom: 27px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 21px;
    }
  }
}

.products-list__compound,
.products-list__value {
  margin: 0;
}

.products-list__compound {
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 12px;
  line-height: 1.3;

  @media (min-width: $tablet-width) {
    width: 247px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: -17px auto -4px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    margin: -21px auto -4px;
  }
}

.products-list__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      width: 100%;
      height: 1px;
      background-color: $border-color;
    }
  }
}

.products-list__button {
  grid-column: 2/-2;
  padding: 8px 0;
  margin-top: 8px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    width: 247px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    margin-top: 0;
  }

  &--loading {
    color: $text-color-grey;
    font-weight: 600;
    padding: 7px 96px;
    margin: 0 10px;

    @media (min-width: $tablet-width) {
      width: 247px;
      padding: 7px 44px;
    }

    @media (min-width: $desktop-width) {
      width: 168px;
      padding: 8px 0;
    }
  }
}

.products-list__icon {
  display: block;
  background: url("../../img/catalog/icon-plus.svg") no-repeat;
  width: 30px;
  height: 30px;
  margin: 5px auto 9px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 187px;
    background-size: contain;
    background-position: center bottom;
  }

  @media (min-width: $desktop-width) {
    height: 196px;
  }
}

.products-list__text {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 7px;
}

.products-list__description {
  font-size: 12px;
  line-height: 16px;
  color: $text-color-grey;
  margin: 0 0 22px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    margin: 0 auto 87px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
  }
}
