.programs__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.programs__item {
  background-color: $background-color;
  padding: 29px 20px 22px;
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 19px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 223px;
    column-gap: 37px;
    padding: 77px 52px 57px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 100px 1fr;
    gap: 41px 63px;
    align-items: center;
    padding: 46px 52px 58px;
  }
}

.programs__icon {
  position: relative;
  top: -7px;
  left: 2px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $color-button;
  margin: 0 auto;

  &--slim::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 50px;
    background: url("../img/index/cat-slim-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;
      top: 43%;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      top: 45%;
    }
  }

  &--weight-gain::before {
    content: "";
    position: absolute;
    width: 68px;
    height: 28px;
    background: url("../img/index/cat-pro-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 2/-1;
    grid-row: 1/5;
    align-self: center;
    width: 200px;
    height: 200px;
    top: -2px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    width: 100px;
    height: 100px;
    top: 0;
    left: -1px;
  }
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.programs__description {
  position: relative;
  margin: 0 0 41px;
  color: $text-color-grey;
  grid-column: 1/-1;

  &::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $border-color;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 53px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    margin: 0 0 -14px;
  }
}

.programs__link {
  position: relative;
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-black;
  font-weight: bold;
  grid-column: 1/-1;
  max-width: 87px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 12px;
    left: 100px;
    background-image: url("../img/index/arrow-icon.svg");

    @media (min-width: $tablet-width) {
      margin-left: 31px;
      max-width: 119px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 29px;
    }
  }

  &:hover::after {
    content: "";
    width: 32px;
    background-image: url("../img/index/arrow-icon-hover.svg");
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 20px;
    line-height: 29px;
    max-width: 119px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}
