.promo {
  position: relative;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../../img/index/promo-background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../../img/index/promo-background-image@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 90px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 280px;
    height: 270px;
    background-image: url("../../img/index/promo-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index/promo-image@2x.png");
    }

    @media (min-width: $tablet-width) {
      content: "";
      width: 709px;
      height: 609px;
      background-image: url("../../img/index/promo-image-tablet.png");
      top: 230px;
      left: -64px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/index/promo-image-tablet@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      content: "";
      width: 552px;
      height: 499px;
      background-image: url("../../img/index/promo-image-desktop.png");
      top: -230px;
      right: 330px;
      left: auto;
      z-index: 2;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/index/promo-image-desktop@2x.png");
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 267px;
    position: relative;
  }
}

.promo__title {
  margin: 0 16px 25px;
  padding-top: 27px;
  color: $color-white;

  @media (min-width: $tablet-width) {
    width: 54%;
    text-align: left;
    color: $color-black;
    margin: 0 87px 41px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 414px;
    margin: 0 190px 41px;
  }
}

.promo__slogan {
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  line-height: 36px;
  text-transform: uppercase;
  min-height: 302px;
  color: $color-white;

  @media (min-width: $tablet-width) {
    font-weight: bold;
    text-align: left;
    color: $color-black;
    min-height: auto;
    margin: 0 87px 49px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    margin: 0 190px 52px;
  }
}

.promo__link {
  padding: 8px 24px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    width: 33.5%;
    margin-left: 57px;
    padding: 14px 26px;
  }

  @media (min-width: $desktop-width) {
    max-width: 244px;
    font-size: 20px;
    margin-left: 80px;
  }
}
