.title {
  font-family: "Oswald", "Calibri", "Helvetica", sans-serif;
  font-size: 36px;
  line-height: 36px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
