// Colors
$color-black: #000000;
$color-white: #ffffff;
$text-color-white: #ffffff;
$text-color-grey: #444444;
$color-button: #69b838;
$background-color: #f2f2f2;
$button-loading: #f2f2f2;
$border-color: #cdcdcd;
$input-outline: #e7e7e7;

// состояния инпута
$input-outline-hover: #cdcdcd;
$input-outline-focus: #444444;
$input-outline-error: #ff8282;

// состояния радиокнопок
$radio-outline-button: #cdcdcd;
$radio-outline-button-hover: #bababa;
$radio-outline-button-focus: #444444;
