.wrapper {
  margin: 0 20px;

  &--additional {
    position: relative;
  }

  &--slider {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 30px;

    &--form {
      padding: 0 37px 0 41px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;

    &--slider {
      margin: 0;
    }

    &--form {
      padding: 0;
    }

    &--form-personality {
      margin-right: 0;
    }

    &--form-radio {
      margin-left: 0;
    }
  }
}
